@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500;700&family=PT+Sans&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background: #fdf4e2;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1.4rem;
}

/* Media Quaries */
@media only screen and (max-width: 700px){
    .right-links{
        padding-top:20px;
        gap:20px;
        /* flex-direction: column; */
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-container{
        flex-wrap: wrap;
    }
    .section-two{
        padding-top: 60px;
    }
}

/*-------------------------------------------------------------------------------------*/

/* Header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:50px;
}

.right-links {
    display: flex;
    width:500px;
    justify-content: space-evenly;
    /* margin-left: auto; */
}
.right-links > ul {
    display: flex;
    gap:10px;
    flex-shrink: 0;
}



/*-------------------------------------------------------------------------------------*/

/* main */

.title-container{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding:30px;
    margin:0px 40px;
}
.section-one{
    flex:1;
}
.section-one> h1 {
    padding-bottom: 30px;
}

.section-one button,
.sign-up-container button {
    border:0px;
    padding-top:30px;
    margin:0 20px;
}
.section-one button:hover,
.sign-up-container button:hover,
.right-links > div:hover {
    border-bottom:5px solid black;
}

.title-image{
    max-width: 100%;
    height:auto;
}


.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container,
.image-slideshow{
    margin-top: 50px;
    margin-bottom: 50px;
}
.image-container h1,
.quotes-container h1,
.section-one h1,
.section-one p{
    font-size: 5rem;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 800;
    line-height: 100px;
}
.image-slideshow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
}
.image-container div {
    margin-top: 30px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height: 500px;
    border:2px solid white;
    border-radius: 32px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image > *{
    width: 100%;
    height: 100%;
}


.quotes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:100px 80px;
}

div.quote{
    padding:20px;
    margin:50px;
}
.quote-author{
    align-self: flex-end;
}


/*-------------------------------------------------------------------------------------*/



/* Footer */
.sign-up-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
.sign-up-text{
    font-size: 2rem;
}
.sign-up-container button{
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/*-------------------------------------------------------------------------------------*/

